.box-shadow-card {
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 10px 20px,
        rgba(0, 0, 0, 0.1) 0px 6px 6px;
    background: linear-gradient(311deg, #fef1df 0%, #fbf5f5 100%);
}
.box-shadow-image {
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 10px 20px,
        rgba(0, 0, 0, 0.1) 0px 6px 6px;
}

body {
    background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
        radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: screen;
}

.image-show-model {
    left: 10%;
}
